NODE_ENV=production
PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/terqivo?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d
CLIENT_URL=https://terqivo.com
COOKIE_NAME=terqivo_admin_token
ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@terqivo.com
ADMIN_PASSWORD=your_secure_password
